@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px; /* Updated width */
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999999;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 20px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #000000;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #000000;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #000000;
}
